#a02{
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
table{
    table-layout: fixed;
    text-align: center;
    width: 520px;
    border-collapse: 0;
}
td{
    outline:2px solid gray;
}
th{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
thead{
    text-align: center;
}
