*{
    background-color: rgb(248, 239, 230);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#border01{
    width: 33%;
    height: 100%;
    float: left;
}
#border01 >.no1{
    margin-top: 50%;
    margin-left: 33%;
    width: 160px;
    height: 160px;
    position: relative;
    float: left;
}
#border01 >.no1:hover > .no2{
    transform: rotate(90deg);
    transform: scale(1.5);
   
}
#border01 >.no1:hover > .no3{
    opacity: 0;

}
#border01 >.no1:hover > .no4{
    opacity: 1;

}
#border01 >.no1 >.no2{
    border: 1px solid red;
    width:160px;
    height: 160px;
    transform: rotate(45deg);
    position: absolute;
    transition: all ease-in-out 1s;
}
#border01 >.no1 >.no3{

    opacity: 1;
    position: absolute;
    width: auto;
    font-size: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease-in-out 1s;
}
#border01 >.no1 >.no4{
    background-color: rgba(248, 239, 230, 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    line-height: 1;
    width: 360px;
    text-align: center;
    opacity: 0;
    transition: all ease-in-out 1s ;
}
#border02 >.no5{
    position: relative;
    float: right;
    margin-right: 7%;
    margin-top: 5%;
    width: 120px;
    height: 120px;
}
#border02 >.no5:hover >.no6{
    transform: scale(1.3);
    border-radius: 50%;
}
#border02 >.no5:hover >.no7{
    opacity: 0;
}
#border02 >.no5:hover >.no8{
    opacity: 1;
}
#border02 >.no5 >.no6{
    outline: 1px solid black;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    position: absolute;
    transition: all 1s;
}
#border02 >.no5 >.no7{
    opacity: 1;
    position: absolute;
    line-height: 1;
    width: auto;
    font-size: 28px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease-in-out 1s;
    text-align: center;
}
#border02 >.no5 >.no8{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    line-height: 1;
    width: auto;
    text-align: center;
    opacity: 0;
    transition: all ease-in-out 1s ;
}

#border02 >.no9{
    position: relative;
    float: right;
    margin-right: 7%;
    margin-top: 5%;
    width: 120px;
    height: 120px;
}
#border02 >.no9:hover >.no10{
    transform: scale(1.3);
    border-radius: 50%;
}
#border02 >.no9:hover >.no11{
    opacity: 0;
}
#border02 >.no9:hover >.no12{
    opacity: 1;
}
#border02 >.no9 >.no10{
    outline: 1px solid black;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    position: absolute;
    transition: all 1s;
}
#border02 >.no9 >.no11{
    opacity: 1;
    position: absolute;
    line-height: 1;
    width: auto;
    font-size: 28px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease-in-out 1s;
    text-align: center;
}
#border02 >.no9 >.no12{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    line-height: 1;
    width: auto;
    text-align: center;
    opacity: 0;
    transition: all ease-in-out 1s ;
}

#border02 >.no13{
    position: relative;
    float: right;
    margin-right: 7%;
    margin-top: 5%;
    width: 120px;
    height: 120px;
}
#border02 >.no13:hover >.no14{
    transform: scale(1.3);
    border-radius: 50%;
}
#border02 >.no13:hover >.no15{
    opacity: 0;
}
#border02 >.no13:hover >.no16{
    opacity: 1;
}
#border02 >.no13 >.no14{
    outline: 1px solid black;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    position: absolute;
    transition: all 1s;
}
#border02 >.no13 >.no15{
    opacity: 1;
    position: absolute;
    line-height: 1;
    width: auto;
    font-size: 28px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease-in-out 1s;
    text-align: center;
}
#border02 >.no13 >.no16{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    line-height: 1;
    width: auto;
    text-align: center;
    opacity: 0;
    transition: all ease-in-out 1s ;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
#man{
    outline: 1px solid black;
    float: left;
    width: 600px;
    height: 700px;
    margin-top: 30px;
    position: relative;
}
#man >.deep01{
    opacity: 0;
    z-index: 1;
    position: absolute;
}
#man >.deep02{
    opacity: 0;
    z-index: 1;
    position: absolute;
}
#man >.deep03{
    opacity: 0;
    z-index: 1;
    position: absolute;
}
#man >.deep01 img{
    max-width: 100%;
    max-height: 100%;
    float: left;
    margin-bottom: 40px;
}
#man >.deep01 >.text{
    width: 600px;
    word-break:break-all;
    word-wrap:break-word;
}
button{
    width: 80px;
    height: 80px;
    left: 20px;
    top: 20px;
    position: absolute;
    background-color: rgba(248, 239, 230, 0);
    z-index: 3;
}
#man .visiable{
    opacity: 1;
}
#a02{
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
table{
    table-layout: fixed;
    text-align: center;
    width: 520px;
    border-collapse: 0;
}
td{
    outline:2px solid gray;
}
th{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
thead{
    text-align: center;
}
#man >.deep02 img{
    width: 130px;
}
#man >.deep03 img{
    width: 600px;
    margin-top: 20px;
}