*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    position: fixed;
}
iframe{
    width: 300px;
}
#logo img{
    width: 20px;
    display: flex;
}
@media(min-width:500px){
    #logo img{
        width: 40px;
    }
}