*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
}
@media(max-width:500px){
    nav{
        background-color: aquamarine;
    }
}
#welcome-section{
    height: 100vh;
}