.background {
    position: relative;
    background: rgb(192, 192, 192);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

#me {
    border: 4px dotted goldenrod;
    width: 70vw;
    height: 70vh;
    left: 50%;
    top: 50%;
    margin-left: -35vw;
    margin-top: -35vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    position: absolute;
    font-family: 'Fira Code';
    line-height: 2em;
    word-break: keep-all;
}

hr {
    height: 5px;
    background: pink;
    border-radius: 10px;
}

details+p {
    transition: height 1s;
    height: 0;
}

details[open]+p {
    height: 4em;
}